<div ng-view></div>

<script type="text/ng-template" id="/templates/home.html">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="lead text-center">
                    Let us a choose an event for you to attend tonight! Press 'Search' and we'll serve you 3 neary by events.
                    Press 'I'm Feeling Lucky' and we'll choose your concert for you!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <input ng-model="ctlr.city" /> Enter city
                <input ng-model="ctlr.classificationName" /> Enter classification
            </div>
            <div class="col-sm-6 col-sm-offset-3 buttons">
                <a class="btn btn-lg btn-main1" ng-click="ctlr.search()" href="#/search">I'm feeling lucky!</a>
                <a class="btn btn-lg btn-warning btn-main2" ng-click="ctlr.search()" href="#/search2">Let me pick</a>
            </div>
        </div>
        @*<div class="row">
            <div ng-repeat="item in ctlr.todaysItems">
                <h4>{{item.name}} - <a href="{{item.url}}">link</a> - {{item.dates.start.localDate}}</h4>
            </div>
        </div>*@

    </div>
</script>

<script type="text/ng-template" id="/templates/search.html">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-4">
                <p class="lead text-center">
                    Here's your show!
                </p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title no-border text-center">
                            {{ctlr.selectedItem.name}}
                        </h5>
                    </div>
                    <div class="inner-box">
                        <img src="{{ctlr.selectedItem.images[6].url}}" style="width: 100%" />
                    </div>
                </div>
                <strong><a href="{{ctlr.selectedItem.url}}">Buy a Ticket</a></strong> - {{ctlr.selectedItem.dates.start.localDate}} @@ {{ctlr.selectedItem.dates.start.localTime}}
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-danger" href="#/">Not Feeling So Hot</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/templates/search2.html">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="lead text-center">
                    Here's 3 show!
                </p>
            </div>
            <div class="col-sm-4" ng-repeat="item in ctlr.todaysItems | limitTo: 3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title no-border text-center">
                            {{item.name}}
                        </h5>
                    </div>
                    <div class="inner-box">
                        <img src="{{item.images[6].url}}" style="width: 100%" />
                    </div>
                </div>
                <strong><a href="{{item.url}}">Buy a Ticket</a></strong> - {{item.dates.start.localDate}} @@ {{item.dates.start.localTime}}
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-danger" href="#/">Not Feeling So Hot</a>
        </div>
    </div>
</script>


@section Scripts {
    <script src="~/Scripts/sabio.js"></script>
    <script type="text/javascript">



        (function () {
            "use strict";
            angular.module('tmasterAPP', ['ngRoute'])
                .controller('mainController', MainController);
            MainController.$inject = ['$route', '$routeParams', '$location', '$http'];


            function MainController($route, $routeParams, $location, $http) {

                var vm = this;

                vm.$route = $route;
                vm.$location = $location;
                vm.$routeParams = $routeParams;


                var date;
                var formattedMonth;
                var ymd;
                var dateString;
                //vm.todaysItems = [];


                vm.search = _search;

                vm.showTitle1 = "Test Title";
                vm.showTitle2 = "Test Rufus";
                vm.showTitle3 = "Test Moses";
                vm.showTitle4 = "Test Flume";

                activate();

                function activate() {
                    date = new Date();
                    formattedMonth = date.getMonth() + 1;
                    if (formattedMonth < 10) {
                        formattedMonth = '0' + formattedMonth;
                    }
                    ymd = date.getFullYear() + '-' + formattedMonth + '-' + date.getDate();
                    vm.ymd = ymd;
                    dateString = date.getFullYear() + '-' + formattedMonth + '-' + date.getDate() + 'T00:00:00Z';
                }


                function _getEvents(city, classificationName, dateTime) {
                    console.log('https://app.ticketmaster.com/discovery/v2/events.json?size=20&apikey=SKNvy6YgRlefbMPGovx3GGtbkAKDzXGq&city=' + city + '&startDateTime=' + dateTime + '&classificationName=' + classificationName);
                    $http({
                        method: 'GET',
                        url: 'https://app.ticketmaster.com/discovery/v2/events.json?size=20&apikey=SKNvy6YgRlefbMPGovx3GGtbkAKDzXGq&city=' + city
                                + '&startDateTime=' + dateTime
                                + '&classificationName=' + classificationName,
                    }).then(function (response) {
                        vm.todaysItems = [];
                        if (response.data._embedded) {
                            vm.items = response.data._embedded.events;
                            for (var index = 0; index < vm.items.length; index++) {
                                if (vm.items[index].dates.start.localDate == ymd) {
                                    vm.todaysItems.push(vm.items[index]);
                                }
                            }
                            console.log('todays: ', vm.todaysItems);
                            var rand = Math.random() * vm.todaysItems.length;
                            vm.selectedItem = vm.todaysItems[Math.floor(rand)];
                            console.log('selected: ', vm.selectedItem);
                        } else {
                            alert('sorry, no events found in your area. please try again');
                        }
                    }, function (response) {
                        console.log(response);
                    });
                }

                function _search() {
                    _getEvents(vm.city, vm.classificationName, dateString);
                }

            }
        })();


        (function () {
            "use strict";
            angular.module("tmasterAPP")
                .config(["$routeProvider", "$locationProvider",

            function ($routeProvider, $locationProvider) {

                $routeProvider.when('/', {
                    templateUrl: '/templates/home.html',
                }).when('/search', {
                    templateUrl: '/templates/search.html'
                }).when('/search2', {
                    templateUrl: '/templates/search2.html'
                });

                $locationProvider.html5Mode(false);

            }])
        })();



        //sabio.page.startUp = function () {

        //    $("#button").on("click", sabio.page.handlers.searchEvents);

        //}

        //sabio.page.handlers.searchEvents = function () {
        //    console.log("button firing");
        //    var url = "https://app.ticketmaster.com/discovery/v2/events.json?apikey=1NxKoxkq6DbOwXVZeGfwKMnR12D3ebFC&radius=20&unit=miles&classificationName=music";
        //    console.log(url);
        //    var settings = {
        //        type: "GET",
        //        dataType: "json",
        //        async: true,
        //        error: getEventsError,
        //        success: getEventsSuccess
        //    }
        //    $.ajax(url, settings);

        //}

        //var getEventsSuccess = function (data) {
        //    console.log(data);
        //}

        //var getEventsError = function (jqXhr, status, error) {
        //    console.log(error);
        //}




    </script>

}
